.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
  margin-bottom: 20px;

  .headerLeft {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1em;
    font-weight: 500;
    img {
      width: 10%;
    }
  }

  .headerRight {
    display: block;
    font-weight: 500;
    &:hover {
      scale: 1.1;
      color: rgb(69, 130, 217);
      cursor: pointer;
    }
  }
}
